<h1 style="color:white">Lighter's Club</h1>

<a href="on" type="button" class="btn btn-default">Switch On</a>
<a href="off" type="button" class="btn btn-primary">Switch Off</a>
<a href="blink" type="button" class="btn btn-primary">Blink</a>
<a href="stop-blink" type="button" class="btn btn-primary">Stop Blink</a>
