<h1 style="color:white">Lighter's Club</h1>

<a href="pullRequestOn" type="button" class="btn btn-default">Switch On</a>
<a href="pullRequestOff" type="button" class="btn btn-primary">Switch Off</a>
<a href="mergeOn" type="button" class="btn btn-primary">Switch On</a>
<a href="mergeOff" type="button" class="btn btn-primary">Switch Off</a>
