<h1 style="color:white">Lighter's Club</h1>

<a href="pullRequestOn" type="button" class="btn btn-default">Switch On</a>
<a href="pullRequestOff" type="button" class="btn btn-primary">Switch Off</a>
<a href="mergeOn" type="button" class="btn btn-primary">Switch On</a>
<a href="mergeOff" type="button" class="btn btn-primary">Switch Off</a>

<div class="grid-container centered">
    <div class="grid-100">
      <div class="contained">
        <div class="grid-100">
          <div class="heading">
            <h1>Flickr Photo Feeder</h1>
            <p>Choose which kind of animal you'd like to return photos of...</p>
          </div>
          <ul class="filter-select">
            <li><button>Dog</button></li>
            <li><button>Cat</button></li>
            <li><button>Moose</button></li>
          </ul>
        </div>

        <div id="photos">

        </div>
      </div>
    </div>
  </div>
