<h1 style="color:white">Lighter's Club</h1>

<a href="pullRequestOn" type="button" class="btn btn-default">Switch On</a>
<a href="pullRequestOff" type="button" class="btn btn-primary">Switch Off</a>
<a href="mergeOn" type="button" class="btn btn-primary">Switch On</a>
<a href="mergeOff" type="button" class="btn btn-primary">Switch Off</a>

<h2>Files</h2>

{{#filesNameResult}}
    <br>
    <h3>Name : {{ghUserId}} </h3>
    <br>
    <h4>Repository : {{repository_name}}</h4>
    <br>
    <br>
    <h4>Existing Files : {{holdFileNames}}</h4>
    <br>
    <br>
    <!-- username: item.user,
    comment: item.body,
    close: item.closed_at,
    state: item.state -->
{{/filesNameResult}}
