<h1 style="color:white">Lighter's Club</h1>

<a href="pullRequestOn" type="button" class="btn btn-default">Switch On</a>
<a href="pullRequestOff" type="button" class="btn btn-primary">Switch Off</a>
<a href="mergeOn" type="button" class="btn btn-primary">Switch On</a>
<a href="mergeOff" type="button" class="btn btn-primary">Switch Off</a>

<h2>Files</h2>

{{#filesNameResult}}
    <br>
    <h3>Username : {{item.user}} </h3>
    <h4>Comment : {{item.body}}</h4>
    <h4>Close : {{item.closed_at}}</h4>
    <h4>State : {{item.state}}</h4>
    <br>

    <!-- username: item.user,
    comment: item.body,
    close: item.closed_at,
    state: item.state -->
{{/filesNameResult}}
